@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-serif {
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    'wdth' 100,
    'GRAD' 0;
}

.container {
  @apply w-full px-3 md:px-5 mx-auto;
}

input:focus,
input:active,
button:focus,
button:active {
  @apply outline outline-olive outline-offset-2 outline-2;
}

input {
  font-size: inherit;
}
